<body>
  <div class="container">
    <div class="jumbotron">
      <h1>CodeRage!</h1>
      <p>Vent and let it all out..</p>
      <p>
        <div>
          <a href="/login"><button class="btn btn-primary btn-lg">Log In</button></a>
          <a href="/signup"><button class="btn btn-info btn-lg">Sign Up</button></a>
        </div>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h2>Chirps</h2>
      <hr>
      <div id="chirp-area"></div>
    </div>
  </div>
  
</body>

<script type="text/javascript" src="js/chirp.js"></script>